html {
    font-size: 15px;
}

body {
    margin: 0;
    min-height: 600px;

    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #3D3D3D;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* general
============================================================== */

.container {
    margin: 0 auto;
    width: 1200px;
}

.link {
    text-decoration: none;
    color: #575599;

    cursor: pointer;
    transition: color .2s linear;
}

.link:hover {
    color: #617bf3;
}

.counter {
    display: inline-block;

    margin: 0 .25em;
    padding: 0 .52em;

    color: #000;
    line-height: 1.6;
}

/* header-top
============================================================== */

.header-top {
    height: 2.2em;

    line-height: 2.2em;
    background-color: #F5F5F5;
}

.header-top__menu {
    display: inline-flex;
}

.header-top__menu-link +
.header-top__menu-link {
    margin-left: 50px;
}

.header-top__contacts {
    display: inline-block;
    margin-left: 48px;

    font-weight: 700;
}

.header-top__phone {
    float: right;
}

.header-top__phone-link {
    font-weight: 700;
    font-size: 24px;
    color: #A97E15;
    text-decoration: none;
}

.header-top__phone-link:hover {
    text-decoration: underline;
}

.header-top__callback {
    font-size: 13px;
    line-height: 2em;

    text-align: right;
}

/* header-middle
============================================================== */

.header-middle {
    margin-top: 40px;
}

.header-middle .container {
    display: flex;

    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    display: block;
    height: 40px;
}

.header__search {
    margin-left: 75px;
    width: 325px;
}

.header__search-wrapper {
    display: flex;

    box-shadow: 0 0 0 2px #e6e6e6;
}

.header__search-input {
    width: 100%;
    height: 40px;
    padding: .65em 1.5em;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;

    border: none;
    border-right: 2px solid #e6e6e6;

    flex: 1 1 auto;
}

.header__search-input:focus {
    outline: none;
    box-shadow: 0 0 3px #617bf3, 0 0 0 1px #575599 inset;
}

.header__search-button {
    padding: .6em 1.5em;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;

    border: none;
    background-color: #f5f5f5;

    cursor: pointer;
}

.header__search-button:hover {
    background-color: #eeeded;
}

.header__addresses {
    text-align: right;
    flex: 1 0 auto;
}

.header__addresses-item {
    display: inline-block;
    margin-left: 24px;


}

.header__addresses-street {
    display: block;

    font-size: 15px;
}

.header__addresses-metro {
    position: relative;

    display: inline-block;

    font-size: 12px;
    color: #0000006b;
}

.header__addresses-metro::before {
    position: absolute;
    top: 50%;
    right: 100%;

    display: inline-block;
    margin-right: 5px;
    margin-top: -2.5px;

    content: "";
    width: 5px;
    height: 5px;

    border-radius: 50%;
}

.header__addresses-metro_blue::before { background-color: #4685fa; }

.header__addresses-metro_red::before { background-color: #fa5246; }

.header__addresses-metro_purple::before { background-color: #9a46fa; }

/* header-bottom
============================================================== */

.header-bottom {
    margin-top: 30px;
}

.header-bottom .container {
    display: flex;

    align-items: center;
}

.header-bottom__catalog {
    width: 200px;
}

.catalog-button {
    display: flex;
    padding: .6em 0;

    text-decoration: none;
    font-size: 15px;
    color: #000000;
    line-height: 1;

    background-color: #f4bc00;
    border-radius: 3px;

    align-items: center;
}

.catalog-button::before {
    content: url(img/burger.svg);

    margin: 0 .7em;
    width: 18px;
    height: 18px;
}

.catalog-button:hover {
    background-color: #fec400;
}

.header-bottom__menu {
    margin-left: 75px;

    flex: 1 1 auto;
}

.header-bottom__menu-link +
.header-bottom__menu-link {
    margin-left: 2em;
}

.promo-link {
    color: #952e18;
}

.header__purchases {
    flex: 1 1 auto;
    text-align: right;
}

.header__purchases-cart {
    margin-left: 1.2em;
}

.header__purchases-favorite-counter { background-color: #e9e9e9; }

.header__purchases-cart-counter { background-color: #f3bd00; }

.header__purchases-cart-sum {
    color: #00000080;
}